.middle{
margin-top: 12px;
	
}.mmyson{
	text-align: center;

}
/*--*/
.center{
	margin: 0 auto;
}









/*colors */
.salmon{
	background-color: salmon;
}
.cadetblue{
	background-color: cadetblue;
}
.darkseagreen{
	background-color: darkseagreen;
}
.crimson{
	background-color: crimson;
}
.orange{
	background-color: orange;
}
.pink{
	background-color:pink;
}
.lightblue{
	background-color:lightblue;
	
	
}